@charset "utf-8";


body {
    font-family: A P-OTF A1ゴシック Std;
    margin: 0 auto;
}

  
header{
    background-image: url(image/nen-xanh.png);
    height: 700px;
	z-index: -1;
}



@media screen and (max-width: 767px){
  .menu li{
		position: relative;
		margin-right: 40px!important;
		margin-top: 40px!important;
  }
  .menu li:last-child { margin-right: 0px!important; /* Loại bỏ khoảng cách phải của mục cuối cùng */}
  .loopSlide ul li img {
    height: 100px!important;
  }
  .loopSlide {
    margin-top: -100px!important;
  }
  main{
    margin-top: -530px!important;
  }

  .tab{
	margin-top: -120px;
  }
  .tab a{
	font-size: 20px!important;
  }


  .web-hang-1{
	margin-top: -80px;
	flex-wrap: wrap;
	column-gap: 10px!important;
	row-gap: 10px;
  }
  .web-hang-2{
	margin-top: -20px;
	flex-wrap: wrap;
	column-gap: 10px!important;
	row-gap: 10px;
  }
  .image-container{
	width: 156px!important;
	height: 156px!important;
	justify-content: center;
  }
  .scroll{display: none!important;}
  .hideFullscreen{
	width: 50px!important;
	height: 50px!important;
	font-size: 20px;
  }
  .fullscreen-overlay{
	display: flex;
	flex-direction: column;
	width: 355px!important;
  }
  #fullscreenImg{
	width: 350px;
  }
  #myBalloon{display: none;}
  

  /* web-jiko */
  .trang-jiko{overflow-y: visible!important;}
  .text-jiko{
	font-size: 12px!important;
	line-height: 18px!important;
	width: 300px!important;
	padding-top: 810px;
  }
  .point-1-jiko{ 
	display: flex;
	flex-direction: column;
  }
  .point-2-jiko{ 
	display: flex;
	flex-direction: column;
  }

   /* web-saiyou */
   .trang-saiyo{overflow-x: visible!important;}
   .fullscreen1-overlay{
	display: flex;
	flex-direction: column;
	width: 355px!important;
  }
  #fullscreen1Img{
	width: 350px;
  }
  .text-saiyo{
	font-size: 12px!important;
	line-height: 18px!important;
	width: 300px!important;
	padding-top: 1220px;
  }

  /* web-hima */
  .trang-hima{overflow-x: visible!important;}
  .fullscreen2-overlay{
   display: flex;
   flex-direction: column;
   width: 355px!important;
 }
 #fullscreen2Img{
   width: 350px;
   height: 2100px!important;
 }
 .text-hima{
   font-size: 12px!important;
   line-height: 18px!important;
   width: 300px!important;
   padding-top: 630px;
 }
 .tieude-hima{line-height: 25px!important;}
 .point-1-hima{ 
	display: flex;
	flex-direction: column; 
  }
  .point-1-hima img{ margin-top: 0px!important; }
  .point-2-hima{ 
	display: flex;
	flex-direction: column;
	margin-top: 30px;
  }
  .point-2-hima img{ margin-top: 0px!important; }
  .point-3-hima{ 
	display: flex;
	flex-direction: column;
	margin-top: 30px;
  }
  .point-3-hima img{ margin-top: 0px!important; }

  /* web-jimin */
  .trang-jimin{overflow-x: visible!important;}
  .fullscreen3-overlay{
   display: flex;
   flex-direction: column;
   width: 355px!important;
 }
 #fullscreen3Img{
   width: 350px;
 }
 .text-jimin{
   font-size: 12px!important;
   line-height: 18px!important;
   width: 300px!important;
   padding-top: 980px;
 }

 /* web-gakkou */
 .trang-gakkou{overflow-x: visible!important;}
 .fullscreen4-overlay{
  display: flex;
  flex-direction: column;
  width: 355px!important;
 }
 #fullscreen4Img{
  width: 350px;
 }
 .text-gakkou{
  font-size: 12px!important;
  line-height: 18px!important;
  width: 300px!important;
  padding-top: 800px;
 }
 .bosung-gakkou{justify-content: center;}

  /* web-dv */
 .trang-dv{overflow-x: visible!important;}
 .fullscreen5-overlay{
  display: flex;
  flex-direction: column;
  width: 355px!important;
 }
 #fullscreen5Img{
  width: 350px;
 }
 .text-dv{
  font-size: 12px!important;
  line-height: 18px!important;
  width: 300px!important;
  padding-top: 600px;
 }  

 /* web-haba */
 .trang-haba{overflow-x: visible!important;}
 .fullscreen6-overlay{
  display: flex;
  flex-direction: column;
  width: 355px!important;
 }
 #fullscreen6Img{
  width: 350px;
 }
 .text-haba{
  font-size: 12px!important;
  line-height: 18px!important;
  width: 300px!important;
  padding-top: 770px;
 } 

  .g-1{
	flex-direction: column!important;
	justify-content: center!important;
  }
  .bgDU{
	justify-content: center!important;
	border: none!important;
	width: 300px!important;
	margin: -30px auto;
  }

  .bgDU-yaki img{height: 240px!important;
  }
  .bgDU-yaki{
	justify-content: center;
	border: none!important;
	width: 300px!important;
	margin: 0 auto;
  }
 
  .flipLeft{
	text-align: center;
  }
  .flipRight{
	text-align: center;
  }
  .mask img{ 
	height: 250px;
	border-radius: 11px;
  }
  .bgDU span.mask{
	margin: 0 auto;
   }
  .bgDU span.mask::before{
   height: 246px!important;
   width: 296px!important;
  }
  .bgDU-yaki span.mask::before{
	height: 236px!important;
   width: 296px!important;
  }

  .bgDU-sushi img{height: 350px;}
  .bgDU-sushi{
	
	justify-content: center;
	border: none!important;
	margin: 0 auto;
	
	
  }
  .bgDU-sushi span.mask::before{
	height: 346px!important;
   width: 237px!important;
  }
  .g-2{
	margin-top: -60px!important;
	flex-direction: column!important;
	row-gap: 30px;
	margin-bottom: 20px!important;
  }



  .bgDU-mizu{
	justify-content: center;
	border: none!important;
	margin: 10px auto;
	margin-bottom: 10px;
	width: 340px!important;
  }
  .bgDU-mizu span.mask::before{
	height: 246px!important;
   width: 336px!important;
  }
  .bgDU-mizu span.cap{
	text-align: center;
  }
  
  .bgDU-sake{
	margin-top: -10px!important;
	justify-content: center;
	border: none!important;
	margin: 0 auto;
	width: 350px!important;
  }
  .bgDU-sake span.mask::before{
	height: 246px!important;
   width: 346px!important;
  }
  .bgDU-sake span.cap{
	width: 200px;
	text-align: center;
  }

  .bgDU-poster img{height: 350px;}
  .bgDU-poster{
	margin-top: -70px!important;
	justify-content: center;
	border: none!important;
	margin: 0 auto;
  }
  .bgDU-poster span.mask::before{
	height: 346px!important;
   width: 231px!important;
  }
  .bgDU-poster span.cap{
	text-align: center;
	width: 190px;
  }

  .hansoku-logo{display: none;}
  .slider{display: none; }
  .footer-menu{display: none;}

  .tdq{
    font-size: 10px!important;
    padding-bottom: 30px!important;
  }



}





/*----- life is good -----*/

.loopSlide {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	padding-top: 30px;
  }
  .loopSlide ul {
	padding: 0;
	display: flex;
	flex-shrink: 0;
  }
  
  .loopSlide ul:first-child {
	animation: slide1 100s -50s linear infinite;
  }
  
  .loopSlide ul:last-child {
	animation: slide2 100s linear infinite;
  }
  
  .loopSlide ul li {
	display: inline-block;
	margin-left: 30px;
	list-style: none;
	text-align: center;
  }
  
  .loopSlide ul li img {
	display: block;
	height: 250px;
  }
  .slide-text{
	color: rgb(236, 236, 224);
	font-size: 16px;
	padding-top: 5px;
  } 
  
	@keyframes slide1 {
	  0% {
		transform: translateX(-100%);
	  }
	  to {
		transform: translateX(100%);
	  }
	}
	@keyframes slide2 {
	  0% {
		transform: translateX(-200%);
	  }
	  to {
		transform: translateX(0);
	  }
	}

/*----- thanh menu  -----*/
.menu{
    position: relative;
    display: inline-block;
    transform-origin: center;
    top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu ul {
    text-align: center;
    z-index: 2;
    border-radius: 50px;
    padding: 25px;
   
}
.menu a{ 
    display: block;
    list-style: none;
    text-decoration: none;
    color: rgb(236, 236, 224);
    font-size: 18px;
    transition: all .2s;
}
 
.menu a:hover{
    color: #da6c2e;
    transform: scale(1.03) rotate(7deg);
   
}
.menu li {
    display: inline-block;
    margin-right: 170px; /* Khoảng cách giữa các mục */
}
.menu li:last-child { margin-right: 0; /* Loại bỏ khoảng cách phải của mục cuối cùng */}

/*----- chu my works slide  -----*/
.image-text {
    position: absolute;
    font-size: 230px;
    opacity: 0.95;
	color: rgba(236, 236, 224, 0.838);
	margin-top: 10px;
}
.image-container1 {
	width: 200px; /* Điều chỉnh kích thước container theo ý muốn */
	overflow: hidden;
}
.image-text {
	white-space: nowrap;
	animation: slide 150s linear infinite; /* Điều chỉnh thời gian chạy và hiệu ứng theo ý muốn */
}
.image-text span {
	display: inline-block;
	animation: fade 100s ease-in-out infinite alternate; /* Điều chỉnh thời gian chạy và hiệu ứng theo ý muốn */
}

@keyframes slide {
	0% { transform: translateX(0); }
	100% { transform: translateX(-100%); }}
@keyframes fade {
	0%, 100% { opacity: 1; }
	50% { opacity: 1; }}
@keyframes jump {
	0% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
	100% { transform: translateY(0); }}

/*----- phan main  -----*/
main{
    background-image: url(image/nen-cam.png);
    border-top-left-radius: 750px 250px;
    border-top-right-radius: 750px 250px;
    margin-top: -470px;
	padding-top: 200px;
}

/*----- balloon web&gra  -----*/
.tab{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding-top: 50px;
	margin-left: -40px;
}
.tab li a{
	display: block;
	margin:0 2px;
	padding:0px 40px;
	text-decoration: none;
	color: #20261e;
	border-radius: 50px;
	animation: jump 1.2s infinite;
	font-size: 45px;	
}
.tab li.active a{
	background:#333d2f;
	color: #da6c2e;
	
}
.tab li.active a::after {
	content: '';
	position: absolute;
	top: 99%;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #333d2f;
}


.area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	padding:50px 20px;
}

.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
	position: relative;
	z-index: 30;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*----- phan web  -----*/

.web-hang-1{
	display: flex;
	justify-content: center;
	column-gap: 30px;
	padding-top: 60px;
}
.web-hang-2{
	display: flex;
	justify-content: center;
	column-gap: 30px;
	padding-top: 30px;
}
/*----- phan   -----*/

/*----- chi tiet tung trang web  -----*/

/* hinh anh trang web jiko */
/* hinh anh trang web jiko */
/* hinh anh trang web jiko */
.scroll{
	display: inline;
	position: absolute;
	bottom: 30px;
	left: 30px;
	background-color: #da6c2e;
	color: #20261e;
	padding: 10px 0px;
	border-radius: 20px;
	border: 2px solid #20261e;
	writing-mode: vertical-rl;
    white-space: nowrap;
    letter-spacing: 0.2em;
	font-size: 14px;
	animation: jump 1.2s infinite;
}
.hideFullscreen{
	display: inline;
	position: fixed;
	top: 30px;
	right: 30px;
	border-radius: 50%;
	width: 37px;
	height: 37px;
	border: none;
	background-color: #333d2f;
	color: #efefef;
	transition: all 0.5s ease;
}
.hideFullscreen:hover{
	display: inline;
	position: fixed;
	top: 30px;
	right: 30px;
	border-radius: 50%;
	width: 37px;
	height: 37px;
	border: 2px solid #20261e;
	background-color: #da6c2e;
	color: #20261e;
	transition: all 0.5s ease;
}
.fullscreen-overlay {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	border-radius: 25px;
	background-image: url(image/nentrang.png); /* Màu nền cho phần chồng lên */
	display: none;
	border: 2.5px solid #20261e;
	z-index: 99999; /* Đảm bảo nằm trên hết các phần tử khác */
	color: #20261e;
	overflow: auto;
	
}

#fullscreenImg{ /* hình ảnh web bên trái */
	border-radius: 21px;
	border: 3px solid #20261e;
	
}
.trang-jiko{ /* hình ảnh web bên trái */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-right: 30px;
	overflow-y: scroll;
    scroll-behavior: smooth;
	height: 760px;
}


.text-jiko{ /* phần text bên phải */
	font-size: 14px;
    max-width: 100%;
	width: 40%;
	margin: 20px 30px 20px 30px;
	line-height: 25px;
}

.tieude-jiko{ font-size: 24px;}
.de-co{ /* design/coding */
	display: inline;
	background-color: #333d2f;
	color: #efefef;
	padding: 5px 15px;
	border-radius: 20px;
}

.point-jiko{ 
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding-top: 20px;
 }
.point-1-jiko{
	display: flex;
	column-gap: 70px;
} 

.point-2-jiko{
	display: flex;
	column-gap: 70px;
} 
.point-2-jiko img{
	padding-top: 50px;
} 



/* hinh anh trang web saiyo */
/* hinh anh trang web saiyo */
/* hinh anh trang web saiyo */
.fullscreen1-overlay {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	border-radius: 25px;
	background-image: url(image/nentrang.png); /* Màu nền cho phần chồng lên */
	display: none;
	border: 2.5px solid #20261e;
	z-index: 9999; /* Đảm bảo nằm trên hết các phần tử khác */
	color: #20261e;
	overflow: auto;
}
#fullscreen1Img{ /* hình ảnh web bên trái */
	border-radius: 21px;
	border: 3px solid #20261e;
	
}
.trang-saiyo{ /* hình ảnh web bên trái */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow-x: scroll;
    scroll-behavior: smooth;
	height: 760px;
	
}
#web::-webkit-scrollbar { display: none; /* Ẩn thanh cuộn trong trình duyệt Chrome/Safari */}
#web { scrollbar-width: none; /* Ẩn thanh cuộn trong trình duyệt Firefox */}
.text-saiyo{ /* phần text bên phải */
	font-size: 14px;
    max-width: 100%;
	width: 40%;
	margin: 20px 30px 20px 30px;
	line-height: 25px;
}
.tieude-saiyo{ font-size: 24px;}/* tiêu đề của phần tẽxt */
.de-co{ /* design/coding */
	display: inline;
	background-color: #333d2f;
	color: #efefef;
	padding: 5px 15px;
	border-radius: 20px;
}

.point-saiyo{ 
	display: flex;
	column-gap: 70px;
}



/* hinh anh trang web ひまわり */
/* hinh anh trang web ひまわり */
/* hinh anh trang web ひまわり */
.fullscreen2-overlay {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	border-radius: 25px;
	background-image: url(image/nentrang.png); /* Màu nền cho phần chồng lên */
	display: none;
	border: 2.5px solid #20261e;
	z-index: 9999; /* Đảm bảo nằm trên hết các phần tử khác */
	color: #20261e;
	overflow: auto;
}
#fullscreen2Img{ /* hình ảnh web bên trái */
	border-radius: 21px;
	border: 3px solid #20261e;
	height: 3900px;
}
.trang-hima{ /* hình ảnh web bên trái */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-right: 30px;
	overflow-x: scroll;
    scroll-behavior: smooth;
	height: 1450px;
}
.text-hima{ /* phần text bên phải */
	font-size: 14px;
    max-width: 100%;
	width: 40%;
	margin: 30px 30px 30px 30px;
	line-height: 25px;
}
.tieude-hima{ font-size: 24px;} /* tiêu đề của phần tẽxt */
.de-co{ /* design/coding */
	display: inline;
	background-color: #333d2f;
	color: #efefef;
	padding: 5px 15px;
	border-radius: 20px;
}

.thongtin-tren{ /* thông tin phía trên contentu */
	display: flex;
	column-gap: 80px;
}
.point-hima{ /* point */
	width: auto;
	line-height: 25px;
	padding-top: 20px;
}
.point-1-hima{
	display: flex;
	column-gap: 60px;
}

.point-1-hima img{
    height: 45px;
	margin-top: 40px;
}

.point-2-hima{
	display: flex;
	column-gap: 50px;
}

.point-2-hima img{
    height: 130px;
	margin-top: 40px;
}

.point-3-hima{
	display: flex;
	column-gap: 50px;
}

.point-3-hima img{
    height: 160px;
	margin-top: 40px;
	border-radius: 10px;
	border: 1.5px solid #333d2f;
}

.bosung-hima{ /* 2 trang web bổ sung */
	display: flex;
	column-gap: 10px;
}
.bosung-hima img{ /* hình ảnh trang web bổ sung */
	border-radius: 5px;
	border: 1px solid black;
}
.bs-about p{ /* text phía dưới của trang web bổ sung */
	margin-top: -3px;
	text-align: center;
	font-size: 13px;
}

/* hinh anh trang web jimin */
/* hinh anh trang web jimin */
/* hinh anh trang web jimin */

.fullscreen3-overlay {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	border-radius: 25px;
	background-image: url(image/nentrang.png); /* Màu nền cho phần chồng lên */
	display: none;
	border: 2.5px solid #20261e;
	z-index: 9999; /* Đảm bảo nằm trên hết các phần tử khác */
	color: #20261e;
	overflow: auto;
}
#fullscreen3Img{ /* hình ảnh web bên trái */
	border-radius: 21px;
	border: 3px solid black;
}
.trang-jimin{ /* hình ảnh web bên trái */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-right: 30px;
	overflow-x: scroll;
    scroll-behavior: smooth;
	height: 760px;
}
.text-jimin{ /* phần text bên phải */
	font-size: 14px;
    max-width: 100%;
	width: 40%;
	margin: 20px 30px 20px 30px;
	line-height: 25px;
}
.tieude-jimin{ font-size: 24px;}
.de-co{ /* design/coding */
	display: inline;
	background-color: #333d2f;
	color: #efefef;
	padding: 5px 15px;
	border-radius: 20px;
}

.point-jimin{ 
	display: flex;
	flex-direction: column;

}


/* hinh anh trang web gakkou */
/* hinh anh trang web gakkou */
/* hinh anh trang web gakkou */
.fullscreen4-overlay {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	border-radius: 25px;
	background-image: url(image/nentrang.png); /* Màu nền cho phần chồng lên */
	display: none;
	border: 2.5px solid #20261e;
	z-index: 9999; /* Đảm bảo nằm trên hết các phần tử khác */
	color: #20261e;
	overflow: auto;
}
#fullscreen4Img{ /* hình ảnh web bên trái */
	border-radius: 21px;
	border: 3px solid #20261e;
	height: 3200px;
}
.trang-gakkou{ /* hình ảnh web bên trái */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-right: 30px;
	overflow-x: scroll;
    scroll-behavior: smooth;
	height:  910px;
}
#web::-webkit-scrollbar { display: none; /* Ẩn thanh cuộn trong trình duyệt Chrome/Safari */}
#web { scrollbar-width: none; /* Ẩn thanh cuộn trong trình duyệt Firefox */}

.text-gakkou{ /* phần text bên phải */
	font-size: 14px;
    max-width: 100%;
	width: 40%;
	margin: 20px 30px 20px 30px;
	line-height: 25px;
}
.tieude-gakkou{ font-size: 24px;} /* tiêu đề của phần tẽxt */
.de-co{ /* design/coding */
	display: inline;
	background-color: #333d2f;
	color: #efefef;
	padding: 5px 15px;
	border-radius: 20px;
}

.point-gakkou{ /* point */
    display: flex;
	column-gap: 50px;
}
.bosung-gakkou{ /* 2 trang web bổ sung */
	display: flex;
	column-gap: 10px;
}
.bosung-gakkou img{ /* hình ảnh trang web bổ sung */
	border-radius: 5px;
	border: 1px solid black;
}
.bs-gakkou p{ /* text phía dưới của trang web bổ sung */
	text-align: center;
	font-size: 13px;
}


/* hinh anh trang web dv */
/* hinh anh trang web dv */
/* hinh anh trang web dv */
.fullscreen5-overlay {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	border-radius: 25px;
	background-image: url(image/nentrang.png); /* Màu nền cho phần chồng lên */
	display: none;
	border: 2.5px solid #20261e;
	z-index: 9999; /* Đảm bảo nằm trên hết các phần tử khác */
	color: #20261e;
	overflow: auto;
}
#fullscreen5Img{ /* hình ảnh web bên trái */
	border-radius: 21px;
	border: 3px solid #20261e;
}
.trang-dv{ /* hình ảnh web bên trái */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-right: 30px;
	overflow-x: scroll;
    scroll-behavior: smooth;
	height: 760px;
}
.text-dv{ /* phần text bên phải */
	font-size: 14px;
    max-width: 100%;
	width: 40%;
	margin: 20px 30px 20px 30px;
	line-height: 25px;
}
.tieude-dv{ font-size: 24px;}
.de-co{ /* design/coding */
	display: inline;
	background-color: #333d2f;
	color: #efefef;
	padding: 5px 15px;
	border-radius: 20px;
}
.point-dv{ 
	display: flex;
    column-gap: 50px;
}


/* hinh anh trang web haba */
/* hinh anh trang web haba */
/* hinh anh trang web haba */
.fullscreen6-overlay {
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 95%;
	height: 95%;
	border-radius: 25px;
	background-image: url(image/nentrang.png); /* Màu nền cho phần chồng lên */
	display: none;
	border: 2.5px solid #20261e;
	z-index: 9999; /* Đảm bảo nằm trên hết các phần tử khác */
	color: #20261e;
	overflow: auto;
}

#fullscreen6Img{ /* hình ảnh web bên trái */
	border-radius: 21px;
	border: 3px solid #20261e;
}
.trang-haba{ /* hình ảnh web bên trái */
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-right: 30px;
	overflow-x: scroll;
    scroll-behavior: smooth;
	height: 760px;
}
.text-haba{ /* phần text bên phải */
	font-size: 14px;
    max-width: 100%;
	width: 40%;
	margin: 20px 30px 20px 30px;
	line-height: 25px;
}
.tieude-haba{ font-size: 24px;}
.de-co{ /* design/coding */
	display: inline;
	background-color: #333d2f;
	color: #efefef;
	padding: 5px 15px;
	border-radius: 20px;
}

.point-haba{ 
	display: flex;
column-gap: 60px;
}



/*----- tung khung trang web ------*/



.image-container {
    width: 230px;
	height: 180px;
	overflow: hidden;
	border-radius: 15px;
	border: 2px solid black;
}
.image-container img {
	transition: transform 0.3s;
}
.image-container:hover img {
	transform: scale(1.2);
}

/*----- display:none phần scroollbar -----*/
.trang-jiko::-webkit-scrollbar { display: none; /* Ẩn thanh cuộn trong trình duyệt Chrome/Safari */}
.trang-saiyo::-webkit-scrollbar { display: none;}
.trang-hima::-webkit-scrollbar { display: none;}
.trang-jimin::-webkit-scrollbar { display: none;}
.trang-gakkou::-webkit-scrollbar { display: none;}
.trang-dv::-webkit-scrollbar { display: none;}
.trang-haba::-webkit-scrollbar { display: none;}

.fullscreen-overlay::-webkit-scrollbar { display: none; /* Ẩn thanh cuộn trong trình duyệt Chrome/Safari */}
.fullscreen1-overlay::-webkit-scrollbar { display: none;}
.fullscreen2-overlay::-webkit-scrollbar { display: none;}
.fullscreen3-overlay::-webkit-scrollbar { display: none;}
.fullscreen4-overlay::-webkit-scrollbar { display: none;}
.fullscreen5-overlay::-webkit-scrollbar { display: none;}
.fullscreen6-overlay::-webkit-scrollbar { display: none;}

/*----- tao bong bong chu khi hover -----*/  
  .balloon {
	display: none;
	position: absolute;
	font-size: 14px;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	padding: 2px 15px;
	background-color: rgb(236, 236, 224);
	border: 1.7px solid #000000;
	border-radius: 50px;
	color: rgb(0, 0, 0);
	animation: balloonFadeIn 0.3s ease-in-out forwards;
	text-align: center;
  }
  .balloon::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid rgb(236, 236, 224);
  }

  .balloon1 {
	display: none;
	position: absolute;
	font-size: 14px;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	width: 130px;
	padding: 2px 15px;
	background-color: rgb(236, 236, 224);
	border: 1.7px solid #000000;
	border-radius: 50px;
	color: rgb(0, 0, 0);

	text-align: center;
  }
  .balloon1::after {
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid rgb(236, 236, 224);
  }
  
.w-1:hover .balloon {display: block;}
.w-2:hover .balloon {display: block;}
.w-3:hover .balloon {display: block;}
.w-4:hover .balloon {display: block;}
.w-5:hover .balloon1 {display: block;}
.w-6:hover .balloon1 {display: block;}
.w-7:hover .balloon1 {display: block;}
.w-8:hover .balloon1 {display: block;}

.w-1 {position: relative;}
.w-2 {position: relative;}
.w-3 {position: relative;}
.w-4 {position: relative;}
.w-5 {position: relative;}
.w-6 {position: relative;}
.w-7 {position: relative;}
.w-8 {position: relative;}
  
  @keyframes balloonFadeIn {
	0% {
	  opacity: 0;
	  transform: translate(-50%, -10px);
	}
	100% {
	  opacity: 1;
	  transform: translate(-50%, 0);
	}
  }
  
  @keyframes balloonFadeOut {
	0% {
	  opacity: 1;
	  transform: translate(-50%, 0);
	}
	100% {
	  opacity: 0;
	  transform: translate(-50%, -10px);
	}
  }
  

/*------------------------- ========  GRAPHIC  ======== ---------------------------*/
#gra{
	margin-top: 50px;}
.g-1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 20px;
	margin-bottom: 20px;
	
}
.g-2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 20px;
	margin-bottom: 20px;
	
}



/*--- meishi ---*/
/*--- meishi ---*/
/*--- meishi ---*/
.bgDU{
	position:relative;/*テキストの基点となる位置を定義*/
	width:367px;
	height: 300px;
	border: 2px solid #000000;
	border-radius: 11px;
}

.bgDU span.mask{
	position:relative;/*背景色の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
	border-radius: 11px;
}

.bgDU span.mask::before{
	content:"";
	position: absolute;
	z-index: 2;
	opacity:0;/*透過0*/
	transition: .4s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    transform: translateY(100%);
	background-image: url(image/nentrang.png);
	border: 2px solid #000000;
	width:363px;
	height: 296px;	
	border-radius: 11px;
}

.bgDU:hover span.mask::before{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
	transform: translateY(0);
}

.bgDU span.cap{/*画像の上のテキスト*/
	position: absolute;
	opacity:0;/*透過0*/
	font-size: 14px;
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
	z-index:3;/*テキストを前面に出す*/
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);/*テキストの位置中央指定*/
	color: #20261e;
    line-height: 1.5;/*行の高さを1.5にする*/
}

.bgDU:hover span.cap{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
}

/*--- yaki ---*/
/*--- yaki ---*/
/*--- yaki ---*/
.bgDU-yaki{
	position:relative;/*テキストの基点となる位置を定義*/
	width:385px;
	height: 300px;
	border: 2px solid #000000;
	border-radius: 11px;
}

.bgDU-yaki span.mask{
	position:relative;/*背景色の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
	border-radius: 10px;
}

.bgDU-yaki span.mask::before{
	content:"";
	position: absolute;
	z-index: 2;
	opacity:0;/*透過0*/
	transition: .4s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    transform: translateY(100%);
	background-image: url(image/nentrang.png);
	border: 2px solid #000000;
	border-radius: 10px;
	width:385px;
	height: 300px;	
}

.bgDU-yaki:hover span.mask::before{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
	transform: translateY(0);
}

.bgDU-yaki span.cap{/*画像の上のテキスト*/
	position: absolute;
	opacity:0;/*透過0*/
	font-size: 14px;
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
	z-index:3;/*テキストを前面に出す*/
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);/*テキストの位置中央指定*/
	color: #20261e;
    line-height: 1.5;/*行の高さを1.5にする*/
}

.bgDU-yaki:hover span.cap{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
}


/*--- sushu & tenkai ---*/
/*--- sushu & tenkai ---*/
/*--- sushu & tenkai ---*/
.bgDU-sushi{
	position:relative;/*テキストの基点となる位置を定義*/
	width:241px;
	height: 340px;
	border: 2px solid #000000;
	border-radius: 11px;
}

.bgDU-sushi span.mask{
	position:relative;/*背景色の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
	border-radius: 10px;
}

.bgDU-sushi span.mask::before{
	content:"";
	position: absolute;
	z-index: 2;
	opacity:0;/*透過0*/
	transition: .4s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    transform: translateY(100%);
	background-image: url(image/nentrang.png);
	border-radius: 10px;
	border: 2px solid #000000;
	width: 241px;
	height: 340px;	
}

.bgDU-sushi:hover span.mask::before{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
	transform: translateY(0);
}

.bgDU-sushi span.cap{/*画像の上のテキスト*/
	position: absolute;
	opacity:0;/*透過0*/
	font-size: 14px;
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
	z-index:3;/*テキストを前面に出す*/
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);/*テキストの位置中央指定*/
	color: #20261e;
    line-height: 1.5;/*行の高さを1.5にする*/
}

.bgDU-sushi:hover span.cap{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
}

/*--- mizu ---*/
/*--- mizu ---*/
/*--- mizu ---*/
.bgDU-mizu{
	position:relative;/*テキストの基点となる位置を定義*/
	width:490px;
    border: 2px solid #000000;
	border-radius: 11px;
}

.bgDU-mizu span.mask{
	position:relative;/*背景色の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
	border-radius: 10px;
}

.bgDU-mizu span.mask::before{
	content:"";
	position: absolute;
	z-index: 2;
	opacity:0;/*透過0*/
	transition: .4s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    transform: translateY(100%);
	background-image: url(image/nentrang.png);
	border-radius: 10px;
	border: 2px solid #000000;
	width:490px;
	height: 350px;
}

.bgDU-mizu:hover span.mask::before{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
	transform: translateY(0);
}

.bgDU-mizu span.cap{/*画像の上のテキスト*/
	position: absolute;
	opacity:0;/*透過0*/
	font-size: 14px;
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
	z-index:3;/*テキストを前面に出す*/
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);/*テキストの位置中央指定*/
	color: #20261e;
    line-height: 1.5;/*行の高さを1.5にする*/
}

.bgDU-mizu:hover span.cap{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
}

/*--- sake ---*/
/*--- sake ---*/
/*--- sake ---*/
.bgDU-sake{
	position:relative;/*テキストの基点となる位置を定義*/
	width:478px;
    height: 340px;
	border: 2px solid #000000;
	border-radius: 11px;
}

.bgDU-sake span.mask{
	position:relative;/*背景色の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
	border-radius: 10px;
}

.bgDU-sake span.mask::before{
	content:"";
	position: absolute;
	z-index: 2;
	opacity:0;/*透過0*/
	transition: .4s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    transform: translateY(100%);
	background-image: url(image/nentrang.png);
	border-radius: 10px;
	border: 2px solid #000000;
	width:478px;
	height: 340px;
}

.bgDU-sake:hover span.mask::before{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
	transform: translateY(0);
}

.bgDU-sake span.cap{/*画像の上のテキスト*/
	position: absolute;
	opacity:0;/*透過0*/
	font-size: 14px;
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
	z-index:3;/*テキストを前面に出す*/
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);/*テキストの位置中央指定*/
	color: #20261e;
    line-height: 1.5;/*行の高さを1.5にする*/
}

.bgDU-sake:hover span.cap{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
}

/*--- poster ---*/
/*--- poster ---*/
/*--- poster ---*/
.bgDU-poster{
	position:relative;/*テキストの基点となる位置を定義*/
	width:235px;
    height: 340px;
	border: 2px solid #000000;
	border-radius: 11px;
}

.bgDU-poster span.mask{
	position:relative;/*背景色の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
	border-radius: 10px;
}

.bgDU-poster span.mask::before{
	content:"";
	position: absolute;
	z-index: 2;
	opacity:0;/*透過0*/
	transition: .4s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    transform: translateY(100%);
	background-image: url(image/nentrang.png);
	border-radius: 10px;
	border: 2px solid #000000;
	width:235px;
	height: 340px;
}

.bgDU-poster:hover span.mask::before{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
	transform: translateY(0);
}

.bgDU-poster span.cap{/*画像の上のテキスト*/
	position: absolute;
	opacity:0;/*透過0*/
	font-size: 14px;
	transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
	z-index:3;/*テキストを前面に出す*/
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);/*テキストの位置中央指定*/
	color: #20261e;
    line-height: 1.5;/*行の高さを1.5にする*/
}

.bgDU-poster:hover span.cap{/*hoverした時の変化*/
	opacity:1;/*透過なしに変化*/
}





/*-------------- hansoku -----------------*/
/*-------------- hansoku -----------------*/

.slider {
    position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px!important;
}
/*　背景画像設定　*/

.slider-item01 {
    background:url(image/nen-xanh.png);
	border-radius: 50px;
	border: 2px solid #000000;
    margin-left: 40px;
	margin-right: 40px;
}
.item01{
	border-radius: 50px;
	border: 2px solid #000000;
}
.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:550PX;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
	
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/

.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
	z-index: 3;
    top: 32%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 10px solid rgb(236, 236, 224);/*矢印の色*/
    border-right: 10px solid rgb(236, 236, 224);/*矢印の色*/
    height: 25px;
    width: 25px;
	
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:0px;
    transform: rotate(-135deg);
}


.slick-next {/*次へ矢印の位置と形状*/
    right:0px;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定
ul.slick-dots{
	display: none;
	visibility: hidden;
}*/
/*ドットナビゲーションの設定*/

.slick-dots {
	position: relative;
	z-index: 3;
    text-align:center;
	margin-top: 20px;
	padding-left: 0px!important;
	cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
}

.slick-dots li {
    display:inline-block;
	margin: 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:15px;/*ドットボタンのサイズ*/
    height:15px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:rgba(236, 236, 224, 0);/*ドットボタンの色*/
	border: 1.5px solid #000000;
}

.slick-dots .slick-active button{
    background:#333d2f;/*ドットボタンの現在地表示の色*/
}


.hansoku-logo{
	position: relative;
	z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  text-align: center;
  width: 260px;
  border-radius: 25px;
  padding-top: 10px;
  border: 2px solid #000000;
  background-color: rgb(236, 236, 224);
  animation: jump 1.2s infinite;
}
.idea{
	display: flex;
	column-gap: 91px;
}

.hang4{
	background-color: rgb(236, 236, 224);
	border-radius: 30px;
	padding: 30px;
	color: #20261e;
	padding-top: 30px;
	border: 2px solid #000000;
}
.hansoku1{
	font-size: 14px;
	color: #ccc;
	line-height: 24px;
	padding: 50px 60px;
}
.hansoku4{
	display: flex;
	column-gap: 15px;
	font-size: 14px;
	color: #ccc;
	margin-left: 10px;
	padding: 25px;
}
.hansoku3{
	padding: 50px;
}
.hansoku3 img{
	border-radius: 30px;
	border: 2px solid #000000;
}
.hansoku4 img{
	border-radius: 5px;
	border: 2px solid #000000;
}

/*------ ***** phan footer ****** ------*/
/*------ ***** phan footer ****** ------*/

.footer-menu ul {
 text-align: center;
 background-image: url(image/nen-xanh.png);
 margin: 0px 50px;
 border-radius: 50px;
 padding: 25px;

 
}
.footer-menu a{
  list-style: none;
  text-decoration: none;
  color: rgb(236, 236, 224);
  font-size: 18px;
  transition: all .2s;
}
.footer-menu a:hover{
  color: #da6c2e;
}
.footer-menu li {
  display: inline-block;
  margin-right: 170px; /* Khoảng cách giữa các mục */
}
.footer-menu li:last-child { margin-right: 0; /* Loại bỏ khoảng cách phải của mục cuối cùng */}



.tdq{
  font-size: 12px;
  color: #20261e;
  letter-spacing: 0.5em;
  text-align: center;
  padding: 10px;
}



