@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}
/*------------------------------ TOP戻るこボタン　-----------------------------*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	text-transform: uppercase; 
	text-decoration: none;
	transition:all 0.3s;
  transform-origin: center;
  animation: zoomtop 2.5s infinite;
}
#page-top img{ transition: transform 0.3s ease-in-out; }
#page-top img:hover{ transform: scale(1.08) rotate(-5deg); }
#page-top { /*リンクを右下に固定*/
	position: fixed;
	right: 60px;
	bottom:60px;
	z-index: 2;
	opacity: 0;
	transform: translateX(100px);
}
#page-top.LeftMove{ /*　左の動き　*/
	animation: LeftAnime 0.9s forwards;
}

@keyframes LeftAnime{
  from {
    opacity: 0;
	transform: translateX(100px);
  }
  to {
    opacity: 1;
	transform: translateX(0);
  }
}

#page-top.RightMove{ /*　右の動き　*/
	animation: RightAnime 0.9s forwards;
}
@keyframes RightAnime{
  from {
  	opacity: 1;
	transform: translateX(0);
  }
  to {
  	opacity: 1;
	transform: translateX(200px);
  }
}

@keyframes zoomtop {
  0% {
    transform: scale(1) rotate(-7deg);
  }
  50% {
    transform: scale(1.03) rotate(1deg);
  }
  100% {
    transform: scale(1) rotate(-7deg);
  }
}
/* close TOP戻るこボタン*/  
/*------------------------------ BODY　-----------------------------*/ 
body {
  font-family: "nitalago-rera", sans-serif;
font-weight: 300;
font-style: normal;
letter-spacing: 1.3px;
line-height: 1.5em;
}
@media screen and (max-width: 767px){

  .h6{
    writing-mode: horizontal-tb!important;
    font-size: 1px!important;
  }
  .porto-br{
    font-size: 66px!important;
  }
  .button-fb{display: none;}
  .button-in{display: none;}
  
}

/*////////////////------ phan dau ------///////////////*/

.porto-br{ /*chu PORTFILIO*/
    color: #f95900;
    z-index: -1;
    opacity: 0.5;
    font-size: 250px;
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
  
font-family: "ratio", sans-serif;
font-weight: 800;
font-style: normal;
}
/*  phan catch  */
.header{
  width:100%;
  height: 100vh;
  position: relative;
} 

.header:before{
  content: '';
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height: 100vh;
  background:url(./image/nen-xanh.png) no-repeat center;
  background-size:cover;
}

/*--phan portfolio2022-2023 & icon--*/
.tieude{
   display: flex;
   flex-flow: column;
   justify-content: flex-end;
   padding-top: 2%;
}
.h6{ /*--portfolio2022-2023--*/
    writing-mode: vertical-rl; /* Đặt văn bản thành chế độ viết dọc */
   text-align: center; /* Đặt canh lề phải */
   white-space: nowrap; /* Ngăn không cho văn bản xuống dòng */
   letter-spacing: 0.5em;
   font-size: 11px;
   padding-right: 21px;
   color: rgb(236, 236, 224);
} 
/*  button facebook  */
.face{
  font-size: 15px;
  padding-top: 10px;
}
.face{
  text-decoration: none;
  text-align: center!important;
  transition: all 0.2s ease;
}
.face:hover{ border-color:transparent; }
.face span {
  position: absolute;
  right: 11px;
  margin-top: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 13px;
  background:rgb(236, 236, 224);
  border-radius: 50%;
  color:#253b18;
  transition: all 0.25s ease;
}
.pushright:before {
  content: ""!important;
  width: 100%!important;
  height: 100%!important;
  border-radius: 50%!important;
}
.pushright:hover span {
  background:rgba(255, 255, 255, 0.5);
  color: rgb(236, 236, 224);
  transform: translate(2px, 2px);
}

/*  button instagram  */
  .insta{
    font-size: 15px;
  }
.insta{
    text-decoration: none;
    text-align: center!important;
    transition: all 0.2s ease;
  }
  .insta:hover{ border-color:transparent; } 
  .insta span {
    position: absolute;
    right: 11px;
    margin-top: 67px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 17px;
    padding-right: 14px;
    background:rgb(236, 236, 224);
    border-radius: 50%;
    color:#253b18;
    transition: all 0.25s ease;
  }
  .pushright:before { 
    content: ""!important;
    width: 100%!important;
    height: 100%!important;
    border-radius: 50%!important;
  }
  .pushright:hover span {
    background:rgba(255, 255, 255, 0.5);
    color: rgb(236, 236, 224);
    transform: translate(2px, 2px);
  }

/*  phan menu 3 con　キャラクター  */
.menu{
  position: relative;
  z-index: 2;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  top: -220px;
  
}
.menu p{
  font-family: "ratio", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 24px;

}
.gnav a{
  text-decoration: none;
  color: rgb(236, 236, 224);
  text-align: center;
  font-size: 20px;
}
.gnav{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  column-gap: 65px;
  list-style: none;
}

/*  hieu ung cho キャラクター  contact  */
.about{
  position: relative;
  display: inline-block;
  animation: zoom 2.5s infinite;
  transform-origin: center;
}

@keyframes zoom {
  0% {
    transform: scale(1) rotate(2deg);
  }
  50% {
    transform: scale(1.03) rotate(1deg);
  }
  100% {
    transform: scale(1) rotate(2deg);
  }
}
.about img{
  display: block;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease-in-out;
}
.about:hover img{
  transform: scale(1.08) rotate(2deg);
}
.about p{
  display: block;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease-in-out;
}
.about:hover p{
  transform: scale(1.03) rotate(5deg);
  color: rgb(206, 206, 206);
}
/*  hieu ung cho キャラクター my works  */
.about2{
  position: relative;
  display: inline-block;
  animation: zoom2 2.5s infinite;
  transform-origin: center;
}
@keyframes zoom2 {
  0% {
    transform: scale(1) rotate(-2deg);
  }
  50% {
    transform: scale(1.03) rotate(1deg);
  }
  100% {
    transform: scale(1) rotate(-2deg);
  }
}
.about2 img{
  display: block;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease-in-out;
}
.about2:hover img{
  transform: scale(1.08) rotate(2deg);
}
.about2 p{
  display: block;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease-in-out;
}
.about2:hover p{
  transform: scale(1.03) rotate(5deg);
  color: rgb(206, 206, 206);
}

/*  hieu ung cho キャラクター about qin  */
.about1{
  position: relative;
  display: inline-block;
  animation: zoom1 2.5s infinite;
  transform-origin: center;
}
@keyframes zoom1 {
  0% {
    transform: scale(1) rotate(2deg);
  }
  50% {
    transform: scale(1.03) rotate(-1deg);
  }
  100% {
    transform: scale(1) rotate(2deg);
  }}
.about1 img{
  display: block;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease-in-out;
 
}
.about1:hover img{
  transform: scale(1.08) rotate(-5deg);
}
.about1 p{
  display: block;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  transition: transform 0.3s ease-in-out;
}
.about1:hover p{
  transform: scale(1.03) rotate(-5deg);
  color: rgb(206, 206, 206);
}

/*  kich thuoc cho キャラクター  */
.about-imge{
  
  margin-top: 25px;
}
.works-imge{
 
  margin-top: 25px;
}
.contact-imge{

  margin-top: 25px;
}




/*////////////////------ phan giua trang ------///////////////*/
.container{
  position: relative;
  z-index:1;
  margin-top: -350px;
}
.muc-aboutqin{
  z-index:1;
  background:rgb(236, 236, 224);
  margin-top: -480px;
  height: 1630px;
  border-top-left-radius: 700px 300px;
  border-top-right-radius: 700px 300px;
}
/*------ ***** phan about ****** ------*/
/*------ ***** phan about ****** ------*/

/* tieu de doc */
.profile{
  writing-mode: vertical-rl; /* Đặt văn bản thành chế độ viết dọc */
  white-space: nowrap; /* Ngăn không cho văn bản xuống dòng */
  letter-spacing: 0.5em;
  font-size: 10px;
  color: #20261e;
  width: 100%;
  overflow: hidden; 
  padding-top: 370px;
}
.profile h5 {
  float: right;
  padding-right: 21px;
  padding-top: 300px;
}

/* 見出し about qin */
.aboutqin_midashi{
  text-align: center;
  font-size: 45px;
  margin-top: -320px;
  color: #20261e;
  font-family: "ratio", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* gioi thieu ban than */
.shokai-phai{
  width: 340px;
}
.shokai{
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding-top: 70px;
  column-gap: 80px;
  color: #20261e;
}
/* phan skill */
.skill1{
  display: flex;
  justify-content: center;
  column-gap: 85px;
  padding-top: 60px;
}
.skill2{
  display: flex;
  justify-content: center;
  column-gap: 85px;
  padding-top: 60px;
}
.ai{
  display: flex;
  justify-content: center;
  background: #3c4838;
  color: rgb(236, 236, 224);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.ai1{
  display: flex;
  justify-content: center;
  background:#da6c2e;
  color: #20261e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.skill p{
  font-size: 14px;
  align-items: center;
}
/* phan noi doi loi ve ly do di nhat */
.doiloi{
  width: 670px;
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/*  button see more-watashi */
.button-more-watashi{
  vertical-align:middle; 
 padding-top: 50px;
  text-align: center;
  font-size: 14px;
}
.btntextchange2{
  position: relative;
  background: #3c4838;
  border-radius: 50px;
  min-width:100px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color:rgb(236, 236, 224) ;
  outline: none;
  transition: all .2s;
}
.btntextchange2:hover{
  background:#3c4838;
  color:rgb(236, 236, 224);
  min-width:190px;
  font-size: 14px;
  padding-bottom: 25px;
}
.btntextchange2 span{
  position: absolute;
  left: 50%;top:50%;
  transform:translate(-50%,-50%);
  transition: all .5s;
  display: block;
  white-space: nowrap;
}
.btntextchange2 span:nth-child(2){opacity:0;}
.btntextchange2:hover span:nth-child(1){opacity:0;}
.btntextchange2:hover span:nth-child(2){opacity:1;}


/*------ ***** phan works ****** ------*/
/*------ ***** phan works ****** ------*/

.myworks h5{ /* #my works chu doc  */
  position: absolute;
  padding-top: 520px;
  writing-mode: vertical-rl; /* Đặt văn bản thành chế độ viết dọc */
  white-space: nowrap; /* Ngăn không cho văn bản xuống dòng */
  letter-spacing: 0.5em;
  font-size: 12px;
  color: #20261e;
  padding-left: 21px;
}

/* phan tab web   */
#muc-myworks{
  background-image: url(./image/nen-cam.png);
  background-attachment: fixed;
  height: 1360px;
  z-index: 2;
  margin-top: -290px;
  border-top-left-radius: 700px 280px;
  border-top-right-radius: 700px 280px;
}

#web{
  height: 620px;
  border-top-left-radius: 700px 100px;
  border-top-right-radius: 700px 100px;
  border-bottom-left-radius: 700px 90px;
  border-bottom-right-radius: 700px 90px;
 
  width: 800px;
  margin: 0 auto;
}

#web::-webkit-scrollbar { display: none; /* Ẩn thanh cuộn trong trình duyệt Chrome/Safari */}
#web { scrollbar-width: none; /* Ẩn thanh cuộn trong trình duyệt Firefox */}

.web-1 p{
  color: #20261e;
  font-size: 14px;
  padding-bottom: 2px;
}
.web-btn{
  text-align: center;
  font-size: 50px;
  color: #20261e;
  padding-top: 150px;
  padding-bottom: 50px;
  font-family: "ratio", sans-serif;
}


/*  phan noi dung web  */

.web-1{
  display: flex;
  flex-flow: column;
  align-items: center;
 padding-top: 40px;
  
}
.web-2{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 50px;
}
.web-1-image{
  border: #20261e 2px solid;
  border-radius: 15px;
}
.web-1-setsume h4{
  padding-top: 20px;
  font-size: 18px;
  color: #20261e;
}
.web-1-setsume p{
  width: 650px;
  font-size: 14px;
  line-height: 20px;
  color: #1a1f18;
 padding-top: 5px;

}

/*  button see more-web */
.button-more{
  vertical-align:middle; 
 padding-top: 50px;
  text-align: center;
  font-size: 14px;
}
.btntextchange{
  position: relative;
  background:#3c4838;
  border-radius: 50px;
  min-width:100px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: rgb(236, 236, 224);
  outline: none;
  transition: all .2s;
}
.btntextchange:hover{
  background:#3c4838;
  color:rgb(236, 236, 224);
  min-width:190px;
  font-size: 14px;
  padding-bottom: 25px;
}
.btntextchange span{
  position: absolute;
  left: 50%;top:50%;
  transform:translate(-50%,-50%);
  transition: all .5s;
  display: block;
  white-space: nowrap;
}
.btntextchange span:nth-child(2){opacity:0;}
.btntextchange:hover span:nth-child(1){opacity:0;}
.btntextchange:hover span:nth-child(2){opacity:1;}

/*  phan 4 trang web xem them  */
.web-more{
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 95px;
  margin-bottom: 70px;
}
.web-more img{
  border-radius: 5px;
  border: #1a1f18 2px solid;
}


/*  phan noi dung graphic  */
#muc-myworks1{
  background-image: url(./image/nen-xanh.png);
  background-attachment: fixed;
  height: 900px;
  z-index: 3;
  margin-top: -290px;
  border-top-left-radius: 700px 300px;
  border-top-right-radius: 700px 300px;
}
.gra-btn{
  text-align: center;
  font-size: 50px;
  color: #da6c2e;
  padding-top: 150px;
  font-family: "ratio", sans-serif;
}

/*  phan noi dung graphicーslide  */
.loopSlide {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  margin-top: 120px;
}
.loopSlide img{
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
}
.loopSlide ul {
  padding: 0;
  display: flex;
  flex-shrink: 0;
}

.loopSlide ul:first-child {
  animation: slide1 100s -50s linear infinite;
}

.loopSlide ul:last-child {
  animation: slide2 100s linear infinite;
}

.loopSlide ul li {
  display: inline-block;
  margin-left: 30px;
  list-style: none;
  text-align: center;
}

.loopSlide ul li img {
  display: block;
  height: 250px;
}
.slide-text{
  color: rgb(236, 236, 224);
  font-size: 16px;
  padding-top: 5px;
} 

  @keyframes slide1 {
    0% {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  @keyframes slide2 {
    0% {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(0);
    }
  }

/*  button see more-gra */
.button-more1{
  vertical-align:middle; 
 padding-top: 120px;
  text-align: center;
  font-size: 14px;
}
.btntextchange1{
  position: relative;
  background:rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  min-width:100px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color:  rgb(236, 236, 224);
  outline: none;
  transition: all .2s;
}
.btntextchange1:hover{
  background:rgba(255, 255, 255, 0.5);
  color: rgb(236, 236, 224);
  min-width:190px;
  font-size: 14px;
  padding-bottom: 25px;
}
.btntextchange1 span{
  position: absolute;
  left: 50%;top:50%;
  transform:translate(-50%,-50%);
  transition: all .5s;
  display: block;
  white-space: nowrap;
}
.btntextchange1 span:nth-child(2){opacity:0;}
.btntextchange1:hover span:nth-child(1){opacity:0;}
.btntextchange1:hover span:nth-child(2){opacity:1;}

/*------ ***** phan contact ****** ------*/
/*------ ***** phan contact ****** ------*/

.contact-section {
  display: flex;
  justify-content: center;
  padding-top: 270px;
  font-size: 14px;
}
.muc-contact h2 {
  /* chu contact us  */
  position: absolute;
  padding-top: 230px;
  padding-left: 110px;
  text-align: center;
  color: rgb(236, 236, 224);
  font-size: 47px;
  font-family: "ratio", sans-serif;
}
/* tao flex cho cac khung */
.form1{ 
  /* name & email */  
  display: flex;
  column-gap: 50px;
}
.form2{ 
  /*  male & phone */
  display: flex;
  column-gap: 50px;
}
.form4{ 
  /* massage & button  */
  display: flex;
  column-gap: 50px;
}
.form-group1 {
  /* name & email  */
  margin-bottom: 15px;
  width: 200px;
}

/* mau chu khi nhap chu vao khung*/
.form-group1 input, 
.form-group3 input { color: rgb(236, 236, 224); }
.form-group4 textarea { color: rgb(236, 236, 224); }

/* doi mau chu ben trong khung */
#name::placeholder { color: #e6e6e67f;; } 

/* tao khoang cach cho khung & width */
.form-group2 {
  /* male */
  margin-bottom: 15px;
}
.form-group3 {
  /* phone  */
  margin-bottom: 15px;
  margin-left: 110px;
  width: 200px;
}
.form-group4 {
  /* massage  */
  width: 350px;
}

/* tao border & backround khung */
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  background-color: #ecece000;
  border: 1.5px solid rgb(236, 236, 224);
}

#name{ /* chu ben trong cac  khung  */ padding-left: 20px;}

/* phan lua chon gioi tinh male & female */
.gender-select {
  background-color: #ecece000;
  padding: 10px;
  padding-left: 20px;
  border-radius: 50px;
  font-size: 14px;
  color: #ecece07f;
  width: 90px;
  appearance: none;
}
.gender-select:focus {
  outline: none;
  color:  rgb(236, 236, 224);
}


.form-group1 input:focus { outline: none; /* Xóa đường viền khi được chọn */ }
.form-group2 input:focus { outline: none; /* Xóa đường viền khi được chọn */ }
.form-group3 input:focus { outline: none; /* Xóa đường viền khi được chọn */ }
.form-group4 textarea:focus { outline: none; /* Xóa đường viền khi được chọn */ }


/* nut button send */
.send-btn {
  background:rgba(255, 255, 255, 0.5);
  color: #3c4838;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 55px;
  width: 80px;
  font-size: 18px;
  transition: all .4s;
}
.send-btn:hover {
  background-color: #da6c2e;
  background: rgb(236, 236, 224);
}

/*------ ***** phan footer ****** ------*/
/*------ ***** phan footer ****** ------*/

.footer-menu{ margin-top: 110px;
  font-family: "ratio", sans-serif; }

.footer-menu ul {
 text-align: center;
 background: #ecece1;
 margin: 0px 50px;
 border-radius: 50px;
 padding: 25px;
}
.footer-menu a{
  list-style: none;
  text-decoration: none;
  color: #20261e;
  font-size: 18px;
  transition: all .2s;
  
}
.footer-menu a:hover{
  color: #da6c2e;
}
.footer-menu li {
  display: inline-block;
  margin-right: 170px; /* Khoảng cách giữa các mục */
}
.footer-menu li:last-child { margin-right: 0; /* Loại bỏ khoảng cách phải của mục cuối cùng */}



.tdq{
  font-size: 12px;
  color: rgb(236, 236, 224);
  letter-spacing: 0.5em;
  text-align: center;
  padding: 10px;
}




/*----- time delay -----*/

.fadeLeft{/* 左から */
  animation-name:fadeLeftAnime;
  animation-duration:1.1s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeLeftAnime{
    from {
      opacity: 0;
    transform: translateX(-80px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }

.fadeRight{/* 右へ */
  animation-name:fadeRightAnime;
  animation-duration:1.1s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeRightAnime{
    from {
      opacity: 0;
    transform: translateX(80px);
    }
  
    to {
      opacity: 1;
    transform: translateX(0);
    }
  }
  
  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
   
  .fadeInTrigger,
  .fadeUpTrigger,
  .fadeDownTrigger,
  .fadeLeftTrigger,
  .fadeRightTrigger{
      opacity: 0;
  }

  
.fadeUp{
  animation-name: fadeUpAnime;
  animation-duration:1.1s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(80px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
 
  .fadeDown{
    animation-name: fadeDownAnime;
    animation-duration:1.1s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeDownAnime{
      from {
        opacity: 0;
      transform: translateY(-50px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0px);
      }
    }  

    .fadeIn{
      animation-name: fadeInAnime;
      animation-duration:1.1s;
      animation-fill-mode:forwards;
      opacity:0;
      }
      
      @keyframes fadeInAnime{
        from { 
          opacity: 0;
        transform: translateY(80px);
        }
      
        to {
          opacity: 1;
        transform: translateY(0);
        }
      }
  
  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
   
  .fadeUpTrigger{
      opacity: 0;
  }